body{
  text-align:center;
  background-color:#dce1de
;
(
  
  #474448 100%);
  background-repeat:no-repeat
  
}

img{
  width:600px;
  height:300px;
} 

h1{
  text-shadow:2px 2px #ffffff;
  font-size:35px;
}
p{
  font-size:25px;
  color:black;
  fot-weight:bold;  
}
h2{
  font-size:50px;
  color:#4a5759; 
  }
h3{
  font-size:30px;
  color:#4a5759;
}
h4{
  font-size:30px;
  color:#4a5759; 
  }
h5{
  font-size:30px;
  color:#4a5759;
}
h6{
  font-size:30px;
  color:#4a5759;
}
h7{
 font-size:30px;
  color:#4a5759; 
}
h8{
   font-size:30px;
  color:#4a5759;
}
h9{
  font-size:40px;
  color:#343a40;
 font-weight:bold;
}
h10{
  font-size:30px;
  color:#463f3a;
 font-weight:bold;
}
h11{
  font-size:30px;
  color:#a1683a;
 font-weight:bold;
}
